.btn{
    -fx-background-color: #088F8F;
    
}
.btn:hover{
    -fx-background-color: #087070;
}

.signupBor{
    -fx-border-width: 0 0 1 0;
    -fx-border-color:  #088F8F;
    -fx-background-color: transparent;
}

